@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)<br>

  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")<br>

  @Html.LabelFor(model => model.Done)
  @Html.EditorFor(model => model.Done)
  <br>

  <input type="submit" value="Save" class="btn btn-dark"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>