@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<h1>Items for @User.Identity.Name</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}
else
{
  List<Item> itemListOrder = new List<Item>();
  @foreach (Item item in Model)
  {
    itemListOrder.Add(item);
  }
  Console.WriteLine(itemListOrder.Count);
  List<Item> SortedList = itemListOrder.OrderBy(task => task.DueDate).ToList();
  <ul>
  @foreach (Item task in itemListOrder)
    {
      <li>@Html.ActionLink($"{task.Description}", "Details", new { id = task.ItemId }) | Category: @task.Category.Name |
        Done: @task.Done | Due Date: @task.DueDate</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Create a new tag", "Create", "Tags")</p>